{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card edit-profile-card">
        

        <h1 class="auth-title">
            Edit Profile ✨
        </h1>

        {% if user.profile.profile_picture %}
<div class="text-center mb-4">

    <img
        src="{{ user.profile.profile_picture.url }}"
        class="profile-avatar"
        alt="Current Profile Picture"
    >

</div>
{% endif %}

        <p class="auth-subtitle">
            Keep your profile updated
        </p>

        <form
            method="POST"
            enctype="multipart/form-data"
        >

            {% csrf_token %}

            <div class="profile-form">

                {{ form.as_p }}

            </div>

            <button
                type="submit"
                class="btn auth-btn w-100"
            >
                Save Changes
            </button>

        </form>

    </div>

</div>

{% endblock %}