{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1 class="auth-title">
            Create Account 🚀
        </h1>

        <p class="auth-subtitle">
            Join the platform and get started
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="signup-form">

                {{ form.as_p }}

            </div>

            <button
                type="submit"
                class="btn auth-btn w-100"
            >
                Create Account
            </button>

        </form>

        <div class="divider">
            OR
        </div>

        <a
            href="/accounts/google/login/"
            class="google-btn"
        >
            <i class="fa-brands fa-google"></i>
            Continue with Google
        </a>

        <p class="mt-4 text-center">

            Already have an account?

            <a href="/login/" class="auth-link">
                Login
            </a>

        </p>

    </div>

</div>

{% endblock %}